/* GLobal Rules */
.to-do-list .line-through {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.596);
}

.to-do-list .d-none {
  display: none;
}

html {
  overflow: hidden;
}

body {
  background-color: #f6f6f6;
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.editing-state {
  background-color: #afafaf4d;
}

/* Start List */
.to-do-list {
  background-color: white;
  padding: 0;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  box-shadow: 0 0 6px 1px #00000045;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.to-do-list .title {
  display: flex;
  font-weight: 200;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  padding: 0 0 10px 10px;
  border-bottom: 1px solid #00000045;
}

.to-do-list .title i.fa-sync-alt {
  margin: 0 15px 0 auto;
  color: #0000008a;
}

.to-do-list .input-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.to-do-list .input-container .task-input {
  width: 98%;
  border: none;
  outline: none;
  font-size: 17px;
  background-color: transparent;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #00000045;
}

.to-do-list .input-container .task-input::placeholder {
  font-style: italic;
}

.to-do-list .input-container i.fa-level-down-alt {
  font-size: 14px;
  margin: 0 15px 0 -25px;
  color: #0000008a;
  transform: rotate(90deg);
}

.to-do-list .input-container .alert {
  color: rgb(124, 7, 7);
  font-size: 18px;
  width: 100%;
  margin-left: 10px;
}

.to-do-list .list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.to-do-list .list .empty-list {
  text-align: center;
  font-family: sans-serif;
  color: #7e7e89;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.to-do-list .list .list_item {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 18px;
  border-bottom: 1px solid #00000045;
  transition: 0.5s;
}

.to-do-list .list .list_item input[type="checkbox"] {
  margin: 0 10px;
  cursor: pointer;
}

.to-do-list .list .list_item input[type="text"] {
  width: 90%;
  border: none;
  background-color: transparent;
  padding: 15px;
  font-size: 18px;
  outline: none;
}

.to-do-list .list .list_item input[type="text"]::placeholder {
  color: black;
  font-size: 18px;
}

.to-do-list .list .list_item i#move-icon {
  font-size: 15px;
  margin: 0 15px 0 5px;
  color: #0000008a;
  cursor: move;
}

.to-do-list .list .list_item i#trash-icon {
  font-size: 18px;
  margin: 0 15px 0 5px;
  color: #0000008a;
  cursor: pointer;
}

.to-do-list .list .list_item:last-of-type {
  border: none;
}

.to-do-list .btn {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f6f6f6;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #7e7e7e;
  border-top: 1px solid #00000045;
}

@media screen and (max-width: 576px) {
  .to-do-list {
    width: 96%;
  }

  .to-do-list .input-container .task-input {
    width: 94%;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .to-do-list {
    width: 80%;
  }

  .to-do-list .input-container .task-input {
    width: 97%;
  }
}

/* Start Footer */
.footer {
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: -10px;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 9px 1px #480404ab;
}

.footer p i.fa {
  color: rgb(155, 4, 4);
}

.footer div.contacts a {
  margin-right: 10px;
  font-size: 20px;
  color: #000;
}
